@import "tailwindcss";

:root {
  --green:  #00ff9d;
  --cyan:   #00d4ff;
  --red:    #ff4560;
  --amber:  #ffa500;
  --bg:     #07090d;
  --bg2:    #0d1117;
  --bg3:    #131920;
}

* { box-sizing: border-box; margin: 0; padding: 0; }
body { background: #07090d; color: #00ff9d; font-family: 'IBM Plex Mono', monospace; }